{% extends "layout.twig" %}

{% block content %}
<table border="1">
  <thead>
  </thead>
    <tr>
      {% for field in entities|to_headers %}
      <th>{{ field }}</th>
      {% endfor %}
    </tr>
  <tbody>
  {% for entity in entities %}
  <tr>
    {% for field,value in entity|to_array %}
    <td>
      {% if field is edit_link %}
        <a href="{{ path('edit', { "id": entity.id }) }}">{{ value }}</a>
      {% else %}
        {{ value }}
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}